<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Realtime pizza</title>
</head>
<body>
{{>layout}}


    <script src="js/app.js"></script>
</body>
</html> -->






<section class="hero py-16">
    <div class="both">
 <div class="text-sec w-1/2">
     <p class="text-lg"><em>Are you hungry ?</em> </p>
     <h1 class="text-6xl font-bold">Don't Wait!</h1>
     <button class="btn-primary">Order Now</button>
 </div>
 <div class="image-sec w-1/2">
     <img src="images/hero-pizza.png" alt="">
 </div>
 </div>
 </section>
 
 <section class="menu container mx-auto py-8">
     <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
     <div class="main-card grid grid-cols-4 col-gap-12 row-gap-16">
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
         <div class="card w-64">
             <img class="h-40 mb-4 mx-auto" src="images/pizza.png" alt="">
             <div class="text-center">
                 <h2 class="mb-4 text-lg">Margherita</h2>
                 <span class="size py-1 px-4 rounded-full text-xs">SMALL</span>
                 <div class="flex items-center justify-around mt-6">
                     <span class="font-bold text-lg">200</span>
                     <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                         <span>+</span>
                         <span class="ml-4">Add</span>
                          </button>
                 </div>
             </div>
         </div>
 
     </div>
 </section>