<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <title>Realtime pizza</title>
    </head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="logo"></a>
        </div>
        <div>
            <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="">Offers</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li> 
                <li class="last"><a href="/cart" class="inline-block px-4 py-2 rounded-full"><img src="images/cart.png" alt=""></a></li> 
            </ul>
        </div>
    </nav>
    <%- body %>
</body>
</html>